h2 {
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}

.flex-container {
    display: flex;
}

.half-split {
    flex: 1;
}

#hs-left {
    float: left;
    margin-right: 0.5rem;
}

#hs-right {
    float: right;
    margin-left: 0.5rem;
}


#filter-section {
    border: 2px solid gray;
    border-radius: .5rem;
    padding: 1rem 1rem 0.25rem 1rem;
}

#filter-form-layout {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 0.25rem;

}

#internal-error{
    flex-grow: 1;
}


#has-accelerator {
    float: left;
}

#search-results-container {
    height: 100%
    
}

#search-results-title {
    margin: .5rem;
    margin-top: 1rem;
}

#search-results-spinner {
    position: relative;
    width: 2rem;
    height: 2rem;
    left: calc(50% - 1rem);
    top: 5rem;

}
#search-results {
    display: flex;
    flex-flow: row wrap;
}
.result-card {
    flex-grow: 1;
    max-width: 26rem;
    width: 18rem;
    margin: .5rem;
    padding: .5rem;
}
.location-icon {
    fill: var(--bs-secondary-color);
    margin: 0 0.25rem;
    height: 0.8rem;
    width: 0.8rem;
}
.link-icon {
    fill: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    height: 0.8rem;
    width: 0.8rem;
}
.arrow-icon {
    fill: var(--bs-table-color-state,var(--bs-table-color-type,var(--bs-table-color)));
    margin: 0 0.25rem;
    height: 1rem;
    width: 1rem;
    display: inline;
}
#additionl-info-header {
    cursor: pointer;
}
#results-card-sys-link{
    text-decoration: none;
    position: relative;
    right: 0;
}
.small-text {
    font-size: 0.8rem;
}
.align-text-with-icon {
    display: flex;
    align-items: center;
}

