h2 {
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}

.flex-container {
    display: flex;
}

.half-split {
    flex: 1;
}

#hs-left {
    float: left;
    margin-right: 0.5rem;
}

#filter-section {
    border: 2px solid gray;
    border-radius: .5rem;
    padding: 1rem 1rem 0.25rem 1rem;
}

#filter-form-layout {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 0.25rem;

}
#filter-form-layout > label {
    margin-top: auto;
    margin-bottom: auto;
}

#internal-error{
    flex-grow: 1;
}


#has-accelerator {
    float: left;
}

#search-results-container {
    height: 100%
    
}

#search-results-title {
    margin: .5rem;
    margin-top: 1rem;
}

#search-results-spinner {
    position: relative;
    width: 2rem;
    height: 2rem;
    left: calc(50% - 1rem);
    top: 5rem;

}
#search-results {
    display: flex;
    flex-flow: row wrap;
}
.result-card {
    flex-grow: 1;
    max-width: 26rem;
    width: 18rem;
    margin: .5rem;
    padding: .5rem;
}
.location-icon {
    fill: var(--bs-secondary-color);
    margin: 0 0.25rem;
    height: 0.8rem;
    width: 0.8rem;
}
.link-icon {
    fill: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    height: 0.8rem;
    width: 0.8rem;
}
.arrow-icon {
    fill: var(--bs-table-color-state,var(--bs-table-color-type,var(--bs-table-color)));
    margin: 0 0.25rem;
    height: 1rem;
    width: 1rem;
    display: inline;
}
#additionl-info-header {
    cursor: pointer;
}
#results-card-sys-link{
    text-decoration: none;
}
.small-text {
    font-size: 0.8rem;
}
.align-text-with-icon {
    display: flex;
    align-items: center;
}
#result-card-footer {
    display: flex;
    justify-content: space-between;
}
#results-card-links {
    display: flex;
    align-items: flex-end;
}
#node-details {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.node-detail-card {
    column-count: 1;
    margin: .3rem;
}
.modal-cusotm {
    --bs-modal-width: 700px;
}
#search-results-length {
    margin: 0;
    margin-left: 0.5rem;
}

#hs-right {
    float: right;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
}
#map-container {
    position: fixed;
    top: calc(50vh - 4rem);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
#map {
    fill: var(--bs-secondary-color);
    pointer-events: none;
    z-index: -100;
}
.map-pin {
    fill: var(--bs-red);
    z-index: 10;
    width: 1.3rem;
    height: 1.3rem;

    position: absolute;    
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}

.hvr-transition {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition:    all 0.15s ease-in-out;
    -o-transition:      all 0.15s ease-in-out;
    transition:         all 0.15s ease-in-out;
}

.selected-card, .result-card:hover {
    border-color: var(--bs-info);
    border-width: 2px;
    box-shadow: 0px 0px 0.5rem 0.1rem var(--bs-secondary-color);
}

.selected-pin, .map-pin:hover {
    fill: red;
    width: 2.3rem;
    height: 2.3rem;
}